<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>微金所</title>
    <link href="lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv.min.js"></script>
    <script src="lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--顶部栏-->
<header class="wjs-topBar">
    <div class="container">
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-2">
                <a href="" class="wjs-app">
                    <span class="wjs-icon wjs-icon-phone"></span>
                    手机微金所
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    <img src="img/code.jpg" alt="二维码">
                </a>
            </div>
            <div class="col-md-5">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                <span>4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-3">
                <a href="">常见问题</a>
                <a href="">财富登录</a>
            </div>
            <div class="col-md-2">
                <a href="" class="btn btn-danger btn-xs">免费注册</a>
                <a href="" class="btn btn-success btn-xs">登录</a>
            </div>
        </div>
    </div>
</header>
<!--导航栏-->
<nav class="navbar wjs-nav ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="wjs-icon wjs-icon-logo"></span>
                <span class="wjs-icon wjs-icon-name"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微平台</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--轮播图-->
<section class="wjs-banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-pause="hover" data-interval="2000">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner"></div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<!--信息-->
<section class="wjs-info hidden-xs">
    <div class="container ">
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-4">
            <a href="">
                <div class="media">
                    <div class="media-left">
                        <span class="wjs-icon wjs-icon-doller"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">支付交易保障</h4>
                        <p>银联支付全称保证支付安全</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!--预约-->
<section class="wjs-book">
    <div class="container">
        <div class="pull-left">
            <span class="wjs-icon wjs-icon-clock"></span>
            现在有273人再排队，累计预约交易成功7571次。什么是预约投标？
            <a href="">立即预约</a>
        </div>
        <div class="pull-right hidden-xs">
            <span class="wjs-icon wjs-icon-video"></span>
            微金所宣传片
        </div>
    </div>
</section>
<!--产品-->
<section class="wjs-product">
    <div class="container">
        <div class="nav-tabs-parent">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#pro1" data-toggle="tab">特别推荐</a></li>
                <li ><a href="#pro2" data-toggle="tab">微推荐</a></li>
                <li ><a href="#pro3" data-toggle="tab">微推荐</a></li>
                <li ><a href="#pro4" data-toggle="tab">微推荐</a></li>
                <li ><a href="#pro5" data-toggle="tab">微推荐</a></li>
                <li ><a href="#pro6" data-toggle="tab">微推荐</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="pro1">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="" class="product-box active">
                        <div class="pro-right">
                            <p>8 <sub>%</sub> </p>
                        </div>
                        <div class="pro-left">

                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="" class="product-box"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="" class="product-box"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a href="" class="product-box"></a>
                </div>
            </div>
            <div class="tab-pane" id="pro2">2</div>
            <div class="tab-pane" id="pro3">3</div>
            <div class="tab-pane" id="pro4">4</div>
            <div class="tab-pane" id="pro5">5</div>
            <div class="tab-pane" id="pro6">6</div>
        </div>
    </div>
</section>
<!--新闻-->
<section class="wjs-news"></section>
<!--合作伙伴-->
<footer class="wjs-partner"></footer>
<!--模板引擎-->
<script type="text/html" id="pointsTem">
    <% for(var i = 0;i < list.length;i ++) {%>
    <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
    <% }%>
</script>
<script type="text/template" id="imgsTem">
    <% for(var i = 0;i < list.length;i ++) {%>
    <div class="item <%=i==0?'active':''%>">
        <% if(isMobile) {%>
        <a href="" class="m-img-box"><img src="<%=list[i].mUrl%>" alt=""></a>
        <% }else {%>
        <a href="" class="pc-img-box" style="background-image: url('<%=list[i].pcUrl%>')"></a>
        <% }%>
    </div>
    <% } %>
</script>
<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="lib/template-web.js"></script>
<script src="lib/iscroll.js"></script>
<script src="js/index.js"></script>
</body>
</html>